body {
  background-color: rgb(233, 215, 207);
  text-align: center;
  margin: 50px;
  color: rgb(83, 75, 75);
  margin: 50px;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
}

p {
  font-family: "Fira Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 36px;
}

a {
  font-family: "Fira Sans", sans-serif;
  text-decoration: none;
  color: brown;
}

a:hover {
  text-decoration: underline;
}
